.NotesContainer {
    height: 400px; 
    width: 250px;
    background-color: #302f2f;
    position: absolute;
}

.title {
    font-size:20px;
}

.description {
    font-size: 14px;
    height: 80%;
}

.input-field{
    border: none;
    background-color: #302f2f;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10px;
    color: white;
}

.top-tab{
    background-color: white;
    height: 18px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    cursor: pointer;
}

.cross{
    height:9px;
    width: 9px;
    background-color:red;
    border: red solid;
    border-width: 1px;
    border-radius: 50px;
    cursor: pointer;
}
